<div class="row">
	<div class="col-xs-4 col-nogutter">
		<div class="well well-condensed">
			<div class="dev-heading" style="text-align: center;">New Page</div>
			<form method="post" action="[% page.url() %]" class="form-condensed">
				<table class="table table-condensed table-nomargin table-vertical">
					<tr>
						<th>Path</th>
						<td>[% path %]</td>
					</tr>
					<tr>
						<th>Name</th>
						<td>
							[% page.field(
								'command' => 'page_new',
								'type' => 'text',
								'name' => 'page',
								'opts' => {
									'class' => 'form-control input-sm',
								},
							) %]
						</td>
					</tr>
					<tr>
						<th>Directory</th>
						<td>
							[% page.field(
								'command' => 'page_new',
								'type' => 'checkbox',
								'name' => 'dir',
							) %]
						</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td>
							[% page.field(
								'command' => 'page_new',
								'type' => 'hidden',
								'name' => 'path',
								'value' => path,
							) %]
							[% page.button(
								'command' => 'page_new',
								'text' => 'Create',
								'opts' => {
									'class' => 'btn btn-success',
								},
							) %]&nbsp;&nbsp;&nbsp;&nbsp;[% page.link (
								'text' => 'Cancel',
								'opts' => {
									'class' => 'btn btn-default',
								},
							) %]
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
