<div class="row">
	<div class="col-xs-4 col-nogutter">
		<div class="well well-condensed">
			<div class="dev-heading" style="text-align: center;">Add Index</div>
			<form method="post" action="[% page.url(
				'query' => {
					'db' => page.form.db,
					'table' => page.form.table,
				},
			) %]" class="form-condensed">
				<table class="table table-condensed table-nomargin table-vertical">
					<tr>
						<th>Name</th>
						<td>
							[% page.field(
								'command' => 'index_new',
								'type' => 'text',
								'name' => 'name',
								'opts' => {
									'class' => 'form-control input-sm',
								},
							) %]
						</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>
							[% page.field(
								'command' => 'index_new',
								'type' => 'select',
								'name' => 'type',
								'opts' => {
									'class' => 'form-control',
								},
								'select' => [
									['Index', 'index'],
									['Unique', 'unique'],
								],
							) %]
						</td>
					</tr>
					<tr>
						<th>Columns</th>
						<td>
							[% page.field(
								'command' => 'index_new',
								'type' => 'text',
								'name' => 'columns',
								'opts' => {
									'class' => 'form-control input-sm',
								},
							) %]
						</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td>
							[% page.button(
								'command' => 'index_new',
								'text' => 'Create',
								'opts' => {
									'class' => 'btn btn-success',
								},
							) %]&nbsp;&nbsp;&nbsp;&nbsp;[% page.link (
								'text' => 'Cancel',
								'opts' => {
									'class' => 'btn btn-default',
								},
								'query' => {
									'db' => page.form.db,
									'table' => page.form.table,
								},
							) %]
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
