[% title = 'Databases' %]
[% menu_main = 'tables' %]
[% content = BLOCK %]
<div class="jumbotron">
	<div class="container">
		<strong>Databases</strong>
	</div>
</div>
<div class="container">
	[% IF error %]
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			[% error %]
		</div>
	[% END %]
	[% IF message %]
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			[% message %]
		</div>
	[% END %]
	<div class="row">
		[% db_list %]
	</div>
</div>
[% END %]
[% INCLUDE layout/dev.html %]
