[% title = BLOCK %]Table: [% page.form.table %][% END %]
[% menu_main = 'tables' %]
[% content = BLOCK %]
<div class="jumbotron">
	<div class="container">
		<strong>Database:</strong> <a href="/table?db=[% page.form.db %]">[% page.form.db %]</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>Table:</strong> [% page.form.table %]
	</div>
</div>
<div class="container">
	[% IF error %]
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		[% error %]
	</div>
	[% END %]
	[% IF message %]
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		[% message %]
	</div>
	[% END %]
	[% IF input_box %]
	[% input_box %]
	[% ELSE %]
	<div class="row">
		[% page.link(
		'text' => 'Add Column &darr;',
		'query' => {
		'new_col' => 1,
		'db' => page.form.db,
		'table' => page.form.table,
		},
		'opts' => {
		'class' => 'btn btn-primary',
		},
		) %]
		<p/>
	</div>
	[% END %]
	<div class="row">
		[% column_list %]
	</div>
	[% IF input_index %]
	[% input_index %]
	[% ELSE %]
	<div class="row">
		[% page.link(
		'text' => 'Add Index &darr;',
		'query' => {
		'new_index' => 1,
		'db' => page.form.db,
		'table' => page.form.table,
		},
		'opts' => {
		'class' => 'btn btn-primary',
		},
		) %]
		<p/>
	</div>
	[% END %]
	<div class="row">
		[% index_list %]
	</div>
	[% IF input_constraint %]
	[% input_constraint %]
	[% ELSE %]
	<div class="row">
		[% page.link(
		'text' => 'Add Constraint &darr;',
		'query' => {
		'new_constraint' => 1,
		'db' => page.form.db,
		'table' => page.form.table,
		},
		'opts' => {
		'class' => 'btn btn-primary',
		},
		) %]
		<p/>
	</div>
	[% END %]
	<div class="row">
		[% constraint_list %]
	</div>
	<div class="row">
		<h4>Generated SQL:</h4>
	</div>
	<div class="row">
		<pre><code>[% table_sql %]</code></pre>
	</div>
	[% IF current_sql %]
	<div class="row">
		<h4>Current SQL:</h4>
	</div>
	<div class="row">
		<pre><code>[% current_sql %]</code></pre>
	</div>
	[% END %]
	[% IF diff_sql %]
	<div class="row">
		<h4>SQL Alter Statement:</h4>
	</div>
	<div class="row">
		<pre><code>[% diff_sql %]</code></pre>
	</div>
	[% END %]
</div>
[% INCLUDE element/delete_column.html %]
[% INCLUDE element/delete_index.html %]
[% INCLUDE element/delete_constraint.html %]
[% END %]
[% INCLUDE layout/dev.html %]
